h1{
  color: black;
  font-style: oblique;
  font-family: monospace;
  font-size: 300%;
}
h2{
  color: black;
  font-style: oblique;
  font-family: monospace;
  font-size: 250%;
}
p{
  font-size: 150%;
  font-family: monospace;
  color: darkcyan;
}
#content{
  background-color: azure;
  text-align: center;
}
#javascript{
  background-color: azure;
font-size: 200%
}
