h1{
  color: ghostwhite;
  font-style: oblique;
  font-family: monospace;
  font-size: 300%;
}
h2{
  color: ghostwhite;
  font-style: oblique;
  font-family: monospace;
  font-size: 100%;
}
h3{
  color: ghostwhite;
  font-style: oblique;
  font-family: monospace;
  font-size: 250%;
}
p{
  font-size: 150%;
  font-family: monospace;
  color: seashell;
}
#content{
  background-color: gray;
  text-align: center;
  font-size: 100%
}
#output{
  background-color: gray;
    font-size: 150%;
}
